h1 {
    color: #000;
}
@media (min-width:576px){
    h1{
     color: #0905f1;
    }
 }
 @media (min-width:768px){
    h1{
     color: #fd0707;
    }
 }
 @media (min-width:992px){
    h1{
     color: #0cf105;
    }
 }

@media (min-width:1200px) {
    h1 {
        color: #ec82ec;
    }
}


